<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="search-container">
        <h1>Search</h1>
        <div class="search-bar mb-4">
            <label for="search-bar-input">
                <input type="text" placeholder="Search for movie recommendation..." id="search-bar-input">
            </label>
        </div>
        <div id="search-results"></div>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
